<%= form_tag("/lists", method: "get") do %>
  <%= label_tag  "Filter by category:" %> <br>
  <%= text_field_tag :category %> <br>
  <%= label_tag  "Filter by amount:" %> <br>
  <%= number_field_tag :amount %><br>
  <%= submit_tag("Filter") %>
<% end %>
<% if !@list.empty? %>
  <%= @list.each do |list_entry| %>
    <h1><%= list_entry.title %></h1>
    <%= link_to "View", list_entry, class: "btn btn-lg btn-primary"  %>
    <%= link_to "Edit", edit_list_path(list_entry), class: "btn btn-lg btn-warning"  %>
    <%= link_to "Delete", lists_destroy_path(list_entry), class: "btn btn-lg btn-danger"  %>
    <% if @users %>
      <%= form_tag("/share.#{list_entry.id}", method: "get") do %>
        <%= select_tag(:to_user, options_from_collection_for_select(@users, :id, :username)) %>
        <%= submit_tag("Share") %>
      <% end %>
    <% end %>
    <hr>
  <% end %>
<% else %>
<h2>Yo have no lists</h2>
<% end %>
